/* fallbacks -----------------------------------  */
body {
  color: #000000;
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
}
/* end fallbacks ------------------------------- */
/* start header styles ------------------------ */
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100vw;
  background-color: #ffffff;
  -webkit-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, 0.5);
  -moz-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, 0.5);
  box-shadow: 0 11px 24px 0 rgba(26, 26, 26, 0.5);
}

.header-logo {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.header-left-wrapper {
  padding-left: 1rem;
}

.header-left-wrapper .header-name {
  font-size: 1.7rem;
  font-weight: 900;
  color: #000000;
}

.header-right-wrapper {
  padding-right: 1rem;
  color: #000000;
}

.header-right-wrapper a {
  font-family: "Lato", sans-serif;
  color: #000000;
}

.nav-cta-links {
  padding: 0.8rem;
}

.nav-cta-links:hover {
  padding: 0.8rem;
  color: gray;
}

.pipe-header {
  padding-top: 10px;
  font-weight: 900;
}
.pipe-styles {
  padding-top: 10px;
  font-weight: 900;
}
/* end header styles -------------------------- */
/* start hero banner -------------------------- */
.hero-banner {
  background: url(../images/hero-waterfall-bg.png),
    url(../images/hero-space-bg.png), url(../images/hero-pillars-bg.png),
    url(../images/hero-main-bg.png);
  height: 70vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: -99999;
  animation: parallax_bg linear 40s infinite;
}

@keyframes parallax_bg {
  100% {
    background-position-y: -1200px, 1000px, 300px, 0px;
  }
}
/* end hero banner styles ----------------------  */


/* project item styles --------------------  */
.item {
  max-width: 50px;
  max-height: 50px;
}

.item:hover {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, 0.5);
  -moz-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, 0.5);
  box-shadow: 0 11px 24px 0 rgba(26, 26, 26, 0.5);
}
/* end project item styles ------------------  */

/*  effect-underline fallbacks ---------------  */
a {
  font-size: 1rem;
  color: #584e4a;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
}
a:before,
a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: black;
}
a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
  -webkit-transition: -webkit-transform 0s
      cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
a:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition: -webkit-transform 0.2s
      cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
}
a:hover:before,
a:hover:after,
a:focus:before,
a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
a:hover:before,
a:focus:before {
  -webkit-transition: -webkit-transform 0.2s
      cubic-bezier(0.175, 0.885, 0.32, 1.275),
      opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
}
a:hover:after,
a:focus:after {
  -webkit-transition: -webkit-transform 0s 0.2s
      cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s 0.2s;
}
/* end all hover fx styles --------------------- */
/* end all css styles -------------------------- */


/* mobile media queries --------------------------  */

@media only screen and (min-width: 700px) {
body {
  display: none;
}
}

@media only screen and (max-width: 400px) {
h4 {
  padding-top: 6rem;
    padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 900;
}

.projects-container {
  display: flex;
  justify-content: center;
}

.item {
  padding: 2px;
    max-width: 80px;
  max-height: 80px;
}

nav {
 z-index: 999999;
}
}


